*{
    margin:0;
    padding:0;
  }

html{
    font-size: 100%;
}

ul{
   list-style: none; 
}

a{
    text-decoration: none;
    color: black;
}

img{
    max-width: 100%;
}

body{
    width:960px;
    margin: 0 auto;
    text-align: center;
}

header{
    position: relative;
    margin-bottom: 100px;
}

header img{
    height: 300px;
    object-fit: cover;
    width: 100vw;
}

header h1{
    font-size: 5rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.849);
}

.title-text{
    font-size: 3rem;
    display: inline-block;
    border-bottom: solid 1px black;
}

#profile{
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

#profile .wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    /*margin-bottom: 100px;*/
}

#profile img{
    width: 200px;
    object-fit: cover;
}

#profile .text{
    font-size: 1.5rem;
    text-align: left;
    margin-top: 100px;
}


#portfolio{
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

#portfolio h3{
    font-size: 1.5rem;
    margin: 30px auto 30px auto;
}

#portfolio a{
    color: rgb(92, 92, 92);
}

#portfolio a:hover{
    color: rgb(0, 0, 0);
}


#portfolio img{
    width: 500px;
}

#portfolio .text{
    font-size: 1.5rem;
    color: rgb(92, 92, 92);
}



#reproduction{
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

#reproduction h3{
    font-size: 1.5rem;
    margin: 30px auto 30px auto;
}

#reproduction a{
    color: rgb(92, 92, 92);
}

#reproduction a:hover{
    color: rgb(0, 0, 0);
}


#reproduction img{
    width: 500px;
}

#reproduction .text{
    font-size: 1.5rem;
    color: rgb(92, 92, 92);
}



#youtube{
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

#youtube h3{
    font-size: 1.5rem;
    margin: 30px auto 30px auto;
}

#youtube a{
    color: rgb(92, 92, 92);
}

#youtube a:hover{
    color: rgb(0, 0, 0);
}


#youtube img{
    width: 500px;
}

#youtube .text{
    font-size: 1.5rem;
    color: rgb(92, 92, 92);
}
